@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: 'NT Somic';
  src: url("../../assets/font/NTSomic-Bold.eot");
  src: local("NT Somic Bold"), local("NTSomic-Bold"), url("../../assets/font/NTSomic-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/font/NTSomic-Bold.woff2") format("woff2"), url("../../assets/font/NTSomic-Bold.woff") format("woff"), url("../../assets/font/NTSomic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'NT Somic';
  src: url("../../assets/font/NTSomic-Medium.eot");
  src: local("NT Somic Medium"), local("NTSomic-Medium"), url("../../assets/font/NTSomic-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/font/NTSomic-Medium.woff2") format("woff2"), url("../../assets/font/NTSomic-Medium.woff") format("woff"), url("../../assets/font/NTSomic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'NT Somic';
  src: url("../../assets/font/NTSomic-Regular.eot");
  src: local("NT Somic Regular"), local("NTSomic-Regular"), url("../../assets/font/NTSomic-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/font/NTSomic-Regular.woff2") format("woff2"), url("../../assets/font/NTSomic-Regular.woff") format("woff"), url("../../assets/font/NTSomic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'NT Somic';
  src: url("../../assets/font/NTSomic-Semibold.eot");
  src: local("NT Somic Semibold"), local("NTSomic-Semibold"), url("../../assets/font/NTSomic-Semibold.eot?#iefix") format("embedded-opentype"), url("../../assets/font/NTSomic-Semibold.woff2") format("woff2"), url("../../assets/font/NTSomic-Semibold.woff") format("woff"), url("../../assets/font/NTSomic-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html h1 {
  line-height: 1.1; }

html ul {
  list-style: none; }
  html ul li {
    list-style: none; }

html i {
  color: currentColor;
  line-height: 1; }

html button {
  font-family: "IBM Plex Mono", monospace;
  padding: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600; }

html a {
  text-decoration: none;
  color: currentColor; }

body {
  font-family: "IBM Plex Mono", monospace; }
  body i {
    vertical-align: middle; }

h1 {
  font-size: 50px; }

img {
  font-style: italic;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  shape-margin: 1rem; }

input {
  height: 45px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  padding-inline: 10px; }

.opacity {
  transition: all 0.8s; }
  .opacity.hidden {
    opacity: 0; }
  .opacity.show {
    opacity: 1; }

.show {
  transition: all 0.5s;
  transition-delay: .2s; }
  .show.hidden {
    opacity: 0;
    translate: 0 15px; }
  .show.show {
    opacity: 1;
    translate: 0 0; }

@keyframes tituloWork {
  from {
    left: 0; }
  to {
    left: -100%; } }

body {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  color: #dfdad9;
  position: relative; }
  body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-attachment: fixed;
    z-index: 3000;
    height: auto;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    transition: all .3s; }

.bg {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 0; }
  .bg__cont {
    position: relative; }
    .bg__cont::before {
      content: '';
      position: absolute;
      top: -800px;
      right: 50%;
      transform: translateX(50%);
      width: 800px;
      height: 800px;
      background-color: #2844cf;
      border-radius: 50%;
      background-color: transparent;
      box-shadow: 0 0 800px #2844cf;
      filter: drop-shadow(0 0 100px #2844cf);
      z-index: 1; }

header {
  width: 100%;
  margin: 0 auto;
  padding: 25px 50px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  z-index: 500;
  mix-blend-mode: difference;
  transition: all 0.5s; }
  @media screen and (max-width: 576px) {
    header {
      flex-direction: column;
      align-items: center; } }
  header.scroll {
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s; }
    header.scroll h1 {
      font-size: 180px;
      color: #f5f3a9;
      text-shadow: rgba(199, 28, 64, 0.9) 0px 0px 30px; }
      @media screen and (max-width: 576px) {
        header.scroll h1 {
          font-size: 60px; } }
    header.scroll h2 {
      display: block;
      color: #2844cf;
      font-size: 30px;
      text-shadow: rgba(40, 68, 207, 0.7) 0px 0px 39px; }
      @media screen and (max-width: 576px) {
        header.scroll h2 {
          font-size: 18px; } }
    header.scroll nav {
      display: none; }
  header h1 {
    transition: all 0.5s; }
  header h2 {
    display: none; }
  header nav {
    color: #f5f3a9;
    transition: all 0.5s; }
    header nav ul {
      display: flex;
      align-items: center;
      gap: 70px; }
      @media screen and (max-width: 576px) {
        header nav ul {
          gap: 15px; } }
      header nav ul li a {
        font-size: 20px;
        font-weight: 500;
        transition: all 0.2s; }
        header nav ul li a:hover {
          opacity: .5; }
        @media screen and (max-width: 576px) {
          header nav ul li a {
            font-size: 15px; } }

.hola {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
  min-height: 100vh;
  background-image: url("../../assets/bg_kbm.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b1b1b; }
  .hola__cont {
    max-width: 980px;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #dfdad9;
    padding: 50px; }
    @media screen and (max-width: 576px) {
      .hola__cont {
        padding-inline: 15px;
        border: none; } }
    .hola__cont p {
      font-size: 24px;
      color: #dfdad9;
      line-height: 1.5; }
      @media screen and (max-width: 576px) {
        .hola__cont p {
          font-size: 20px; } }

.work {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.3s; }
  .work::before {
    --size: 60px;
    --line: hsla(0, 0%, 69%, 0.15);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50%/var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50%/var(--size) var(--size);
    mask: linear-gradient(-15deg, transparent 30%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1; }
  .work__bg {
    font-size: 220px;
    font-weight: 800;
    color: #2844cf;
    text-align: center;
    position: sticky; }
    @media screen and (max-width: 576px) {
      .work__bg {
        font-size: 80px; } }
    .work__bg.hidden {
      top: 0;
      opacity: 0;
      transform: scale(0.2); }
    .work__bg.show {
      top: 0;
      opacity: 1;
      transform: scale(1); }
  .work__title {
    min-height: 100vh;
    width: auto;
    overflow-x: hidden; }
    @media screen and (max-width: 576px) {
      .work__title {
        display: none; } }
    .work__title--cont {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 100px;
      width: 100%;
      white-space: nowrap; }
      @media screen and (max-width: 576px) {
        .work__title--cont {
          font-size: 45px; } }
      .work__title--cont h2 {
        text-align: left; }
        .work__title--cont h2:nth-child(2) {
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: #fff;
          color: transparent;
          text-align: center; }
        .work__title--cont h2:nth-child(3) {
          text-align: right; }
  .work__items {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .work__items h2 {
      font-size: 80px;
      color: #2844cf; }
      @media screen and (max-width: 576px) {
        .work__items h2 {
          font-size: 32px;
          padding-block: 15px 10px; } }
    .work__items--cont {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 30px; }
      @media screen and (max-width: 576px) {
        .work__items--cont {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          gap: 30px; } }
      .work__items--cont--tags {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; }
        .work__items--cont--tags span {
          border: 1px solid #dfdad9;
          border-radius: 50px;
          padding: 5px 10px;
          font-size: 12px;
          background-color: #1b1b1b; }
    .work__items article {
      display: flex;
      flex-direction: column;
      gap: 30px;
      transition: all 0.5s;
      padding-block: 30px; }
      @media screen and (max-width: 576px) {
        .work__items article {
          flex-direction: row;
          padding-block: 0px;
          align-items: center;
          background-color: #1b1b1b;
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 8px;
          overflow: hidden; } }
      .work__items article:hover figure {
        transform: rotate(-1deg);
        box-shadow: 0 0 50px 0px #0f1a4f;
        scale: 1.1;
        filter: grayscale(1); }
      .work__items article:hover .work__items--cont--tags {
        display: flex;
        gap: 8px; }
      .work__items article figure {
        border-radius: 6px;
        overflow: hidden;
        transition: all 0.3s;
        cursor: pointer;
        max-width: 380px;
        position: relative; }
        @media screen and (max-width: 576px) {
          .work__items article figure {
            max-width: 120px;
            border-radius: 6px 0 0 6px;
            flex-shrink: 0; } }
        .work__items article figure img {
          max-width: 380px; }
          @media screen and (max-width: 576px) {
            .work__items article figure img {
              max-width: 120px; } }
        .work__items article figure:hover {
          transform: rotate(-2deg);
          box-shadow: 0 0 50px #0f1a4f;
          scale: 1.1; }
      .work__items article.hidden {
        opacity: 0;
        transform: translateY(80px); }
      .work__items article.show {
        opacity: 1;
        transform: translateY(0px); }
    .work__items--info {
      display: flex;
      flex-direction: column;
      gap: 5px; }
      @media screen and (max-width: 576px) {
        .work__items--info {
          flex-shrink: 1; } }
      .work__items--info h3 {
        font-size: 18px;
        font-weight: 400; }
      .work__items--info h4 {
        font-size: 15px;
        font-weight: 400; }
      .work__items--info--tags {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-block: 15px; }
        .work__items--info--tags span {
          border: 1px solid #2844cf;
          padding: 5px 15px;
          border-radius: 50px;
          color: #fff; }
  .work__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding-block: 0px;
    z-index: 10;
    position: sticky;
    top: 0; }
    .work__menu a {
      border: 1px solid #2844cf;
      padding: 5px 15px;
      border-radius: 50px;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      transition: all 0.2s; }
      .work__menu a:hover {
        background-color: #2844cf; }

.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: all .2s; }
  .modal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }

.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  cursor: pointer; }
  @media screen and (max-width: 576px) {
    .modal-close {
      top: -5px;
      right: 20px;
      font-size: 50px; } }

.modal-content {
  margin: auto;
  background-color: #1c1c1c;
  color: #dfdad9;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  max-height: 90vh;
  background-image: linear-gradient(to top, rgba(28, 28, 28, 0), rgba(28, 28, 28, 0.7)); }
  @media (max-width: 780px) {
    .modal-content {
      flex-direction: column;
      overflow: scroll;
      background-image: linear-gradient(to bottom, rgba(28, 28, 28, 0), rgba(28, 28, 28, 0.7)); } }
  .modal-content figure {
    max-width: 680px; }
    .modal-content figure img {
      max-width: 680px;
      height: 100%; }
      @media screen and (max-width: 576px) {
        .modal-content figure img {
          max-width: 100%; } }
  .modal-content__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    width: 100%; }
    @media screen and (max-width: 576px) {
      .modal-content__info {
        gap: 10px; } }
    .modal-content__info h2 {
      font-size: 50px; }
      @media screen and (max-width: 576px) {
        .modal-content__info h2 {
          font-size: 24px; } }
    .modal-content__info h3 {
      font-size: 30px; }
      @media screen and (max-width: 576px) {
        .modal-content__info h3 {
          font-size: 18px; } }

.contacto {
  background-color: #1b1b1b;
  color: #2844cf;
  padding: 25px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between; }
  .contacto.show {
    background-color: #fff; }
  .contacto h1 {
    font-size: 120px;
    color: #2844cf;
    text-align: center;
    padding-block: 15px; }
    @media screen and (max-width: 576px) {
      .contacto h1 {
        font-size: 50px; } }
  .contacto__cont {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 25px;
    color: #2844cf; }
    @media screen and (max-width: 576px) {
      .contacto__cont {
        flex-direction: column; } }
    .contacto__cont figure {
      max-width: 400px;
      border-radius: 8px;
      overflow: hidden; }
      @media screen and (max-width: 576px) {
        .contacto__cont figure {
          max-width: 300px; } }
      .contacto__cont figure img {
        max-width: 400px; }
    .contacto__cont p {
      font-size: 18px;
      line-height: 1.5;
      width: 100%;
      color: currentColor; }
      @media screen and (max-width: 576px) {
        .contacto__cont p {
          font-size: 15px; } }
  .contacto__redes {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    color: currentColor; }
    @media screen and (max-width: 576px) {
      .contacto__redes {
        flex-direction: column; } }
    .contacto__redes a {
      font-size: 22px;
      transition: all 0.2s;
      color: currentColor; }
      .contacto__redes a:hover {
        color: #0f1a4f; }
      .contacto__redes a i {
        font-size: 25px; }
