body {
    min-height: 100vh;
    width: 100%;
    background-color: $colorBgDark;
    color: $colorTextoLight;
}

.bg {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    

    &__cont {
        position: relative;

        &::before {
            $bgSize: 800px;
            content: '';
            position: absolute;
            top: -$bgSize / 1;
            right: 50%;
            transform: translateX(50%);
            width: $bgSize;
            height: $bgSize;
            background-color: $colorPrimario;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 0 0 800px $colorPrimario;
            filter: drop-shadow(0 0 100px $colorPrimario);
            z-index: 1;
        }
    }
    
    
}


header {
    width: 100%;
    margin: 0 auto;
    padding: 25px 50px;
    position: fixed;
    top: 0;
    @include flex();
    justify-content: space-between;
    z-index: 500;
    mix-blend-mode: difference;
    @include hover(.5s);

    @include mobile() {
        flex-direction: column;
        align-items: center;
    }

    &.scroll {
        flex-direction: column;
        align-items: center;
        mix-blend-mode: normal;
        top: 50%;
        transform: translateY(-50%);
        @include hover(.5s);
        h1 {
            font-size: 180px;

            @include mobile(){
                font-size: 80px;
            }
        }
        h2 {
            display: block;
            color: $colorPrimario;
            font-size: 30px;
            text-shadow: rgba(40, 68, 207, .7) 0px 0px 39px;

            @include mobile() {
                font-size: 22px;
            }
        }
        nav {
            display: none;
        }
    }

    h1 {
       @include hover(.5s); 
    }

    h2 {
        display: none;
    }

    nav {
        color: #fff;
        @include hover(.5s);
        

        ul {
            @include flex(25px);
            li {
                a {
                    font-size: 18px;
                    font-weight: 500;
                    @include hover();
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}

.hola {
    max-width: 100%;
    @include flex();
    padding-top: 50px;
    min-height: 100vh;
    background-image: url('../../assets/bg_kbm.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $colorBgDark;

    
    &__cont {
        max-width: 980px;
        margin: 0 auto;
        border-radius: 50px;
        border: 1px solid $colorBorde;
        padding: 50px;

        @include mobile() {
            padding-inline: 15px;
            border: none;
        }

        p {
            font-size: 24px;
            color: $colorTextoLight;
            line-height: 1.5;

            @include mobile() {
                font-size: 20px;
            }
        }
    }
}

.work {
    padding: 50px;
    width: 100%;
    @include flexColumn(25px);
    overflow: hidden;
    z-index: 1;
    position: relative;
    @include hover(.3s);


    &::before {
        --size: 60px;
        --line: hsla(0, 0%, 69%, 0.15);
        content: '';
        height: 100vh;
        width: 100vw;
        position: fixed;
        background: linear-gradient(90deg,
                var(--line) 1px,
                transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
            linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
        mask: linear-gradient(-15deg, transparent 30%, white);
        top: 0;
        transform-style: flat;
        pointer-events: none;
        z-index: -1;
    }


    &__bg {
        font-size: 220px;
        font-weight: 800;
        color: $colorPrimario;
        text-align: center;
        position: sticky;

        @include mobile() {
            font-size: 80px;
        }

        &.hidden {
            top: 0;
            opacity: 0;
            transform: scale(0.2);
        }
        
        &.show {
            top: 0;
            opacity: 1;
            transform: scale(1);
        }
    }

    &__title {
        min-height: 100vh;
        width: auto;
        overflow-x: hidden;

        @include mobile() {
            display: none;
        }
        
        &--cont {
            @include flexColumn(5px);
            font-size: 100px;
            width: 100%;
            white-space: nowrap;

            @include mobile() {
                font-size: 45px;
            }

            h2 {
                text-align: left;
                &:nth-child(2) {
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: #fff;
                    color: transparent;
                    text-align: center;
                }
                &:nth-child(3) {
                    
                    text-align: right;
                }
            }

        }
    }

    &__items {
        @include flexColumn();

        h2 {
            font-size: 80px;
            color: $colorPrimario;
        }
        &--cont {
            @include gridAuto(400px, 30px);
        }

        article {
            @include flexColumn(30px);
            @include hover(1s);
            padding-block: 30px;

            @include mobile() {
                flex-direction: column;
            }

            &:hover {
                figure {
                    transform: rotate(-1deg);
                    box-shadow: 0 0 50px 0px $colorPrimarioClaro;
                    scale: 1.1;
                }
            }

            figure {
                border-radius: 6px;
                overflow: hidden;
                @include hover(.5s);
                cursor: pointer;
                max-width: 380px;
                
                img {
                    max-width: 380px;
                }

                &:hover {
                        transform: rotate(-2deg);
                        box-shadow: 0 0 50px $colorPrimarioClaro;
                        scale: 1.1;
                }
            }
    
           
    
            &.hidden {
                opacity: 0;
                transform: translateY(250px);
            }
    
            &.show {
                opacity: 1;
                transform: translateY(0px);
            }
    
        }
    
        &--info {
            @include flexColumn(5px);
            h3 {
                font-size: 18px;
                font-weight: 400;
            }
            h4 {
                font-size: 15px;
                font-weight: 400;
            }
    
            &--tags {
                @include flex(5px);
                padding-block: 15px;
                span {
                    border: 1px solid $colorPrimario;
                    padding: 5px 15px;
                    border-radius: 50px;
                    color: #fff;
                }
            }
        }
    }

    &__menu {
        @include flex(30px);
        margin: 0 auto;
        padding-block: 0px;
        z-index: 10;
        position: sticky;

    top: 0;
        
        a {
            border: 1px solid $colorPrimario;
            padding: 5px 15px;
            border-radius: 50px;
            color: #fff;
            cursor: pointer;
            font-size: 20px;
            @include hover();
            &:hover {
                background-color: $colorPrimario;
            }
        }
    }

}


.modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: all .2s;

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.modal-content {
    margin: auto;
    background-color: rgb(28, 28, 28);
    color: $colorTextoLight;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 90%;
    max-height: 90vh;
    background-image: linear-gradient (
        to top, 
        rgba(28, 28, 28, 0), 
        rgba(28, 28, 28, 0.7)
        );

    @media (max-width: 780px) {
        flex-direction: column;
        overflow: scroll;
    }

    figure {
        max-width: 680px;

        img {
            max-width: 680px;
            height: 100%;

            @include mobile() {
                max-width: 100%;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 20px;
        width: 100%;

        @include mobile() {
            gap: 10px;
        }

        h2 {
            font-size: 50px;
            @include mobile() {
                font-size: 24px;
            }
        }

        h3 {
            font-size: 30px;
            @include mobile() {
                font-size: 18px;
            }
        }

    }
}

.contacto {
    background-color: $colorBgDark;
    color: $colorTextoDark;
    height: 95vh;
    padding: 25px;
    @include hover(.2s);
    @include flexColumn();
    align-items: center;
    justify-content: space-between;

    &.show {
        background-color: #fff;
    }

    h1 {
        font-size: 120px;
        color: $colorPrimario;
        text-align: center;
        padding-block: 15px;
    }

    &__cont {
        max-width: 980px;
        margin: 0 auto;
        @include flex(25px);

        p {
            font-size: 20px;
            line-height: 1.5;
            padding: 25px;
            border: 2px solid $colorBorde;
            border-radius: 12px;
            width: 100%;
            background-color: $colorBgDark;
            color: #fff;
        }

    }
    &__redes {
        @include flex();
        justify-content: space-between;
        width: 100%;
        a {
            font-size: 22px;
            @include hover();
            &:hover {
                color: $colorPrimario;
            }

            i {
                font-size: 25px;
            }
        }
    }
}